.AddTransaction{
  margin-top: 170px;
}

.ItemFormAdder{
  height:30px;
  margin:20px;
  float: left;
}
.ItemFormAdder, .ItemForm-destroy{
  border-radius: 3px;
  cursor: pointer;
  transition: all 500ms;
}
.ItemFormAdder:hover, .ItemForm-destroy:hover{
  box-shadow: 1px 1px 1px 1px lightgray;
  background-color: lightgray;
}
.ItemForm{
  position: relative;
}

.ItemForm-destroy{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
  left:20px;
}
